<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>General Assembly | Web Portal</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <% if logged_in? %>
    <header>
        <div>
            <img src="/general-assembly-logo.jpg" alt="logo" height="150px">
        </div>
        <div>
            <h1>Welcome, <%= user["name"]%></h1>
            <nav>
                <a class="nav-button <%="nav-button-selected" if url_tab == "main" %>" href="/main">Home</a>
                <a class="nav-button <%="nav-button-selected" if url_tab == "students" %>" href="/main/students">Students</a>
                <a class="nav-button <%="nav-button-selected" if url_tab == "batches" %>" href="/main/batches">Batches</a>
                <a class="nav-button <%="nav-button-selected" if url_tab == "grades" %>" href="/main/grades">Grades</a>
                <a class="nav-button <%="nav-button-selected" if url_tab == "admin" %>" href="/main/admin">Admin</a>
                <form action="/logout" method="post"> 
                    <input type="hidden" name="_method" value="delete">
                    <button class="nav-button">Logout</button> 
                </form>
            </nav>
        </div>
    </header>
  <% end %>
  
  <%= yield %>

  <footer>
  <p>&copy; 2020. Assembled in MEL by Ben | <a href="https://github.com/benhpoh">Github</a> | <a href="#">Portfolio</a></p>
  </footer>
</body>
</html>
