<main class="layout_1-1-1">
    <div>
        <div class="cards">
            <% active_batches.each do |number|%>
                <div><a class="cards-sublabel <%= "cards-sublabel-selected" if number == batch_number.to_i %>" href="/main/students/batch-<%=number%>">Batch <%=number%></a></div>
            <% end %>
            <div>
                <p><a class="cards-sublabel" href="/main/students/all">All current students</a></p>
                <p><a class="cards-sublabel" href="/main/students/alumni">Alumni</a></p>
            </div>
        </div>
    </div>

    <div>
        <div class="cards">
            <% if batch_students.nil? %>
                <p class="cards-header">Select a Batch to continue</p>
            <% else%>
                <% batch_students.each do |student|%>
                    <div><a class="cards-sublabel batch<%=student["batch_number"]%> <%= "cards-sublabel-selected" if !!sel_student && student["id"] == sel_student["id"] %>" href="/main/students/batch-<%=student["batch_number"]%>/<%=student["id"]%>">
                        <%=student["name"]%>
                    </a></div>
                <% end %>
            <% end %>
        </div>
    </div>

    <div>
        <div class="cards">
            <% if sel_student.nil? %>
                <p class="cards-header">Select a student to continue</p>
            <% else%>
                <div>
                    <img src="<%=sel_student["image_url"]%>" alt="<%=sel_student["name"]%>" class="student-portrait">
                    <h3 class="cards-header"><%=sel_student["name"]%></h3>
                    <h3 class="cards-header"> (Batch <%=sel_student["batch_number"]%>) </h3>
                    <p class="student-details">
                        <%=sel_student["email"]%> <br>
                        <%=sel_student["mobile"]%>
                    </p>

                    <p class="student-details">Graduated: <%= sel_student["graduated"] == "f" ? "No" : "Yes"%></p>

                    <p>
                        <a href="/main/students/edit/<%=sel_student["id"]%>" class="cards-button">Incorrect details?</a>
                    </p>

                    <% if sel_student["graduated"] == "f" %>
                        <p>
                            <form action="/main/students/graduate" method="post">
                                <input type="hidden" name="_method" value="patch">
                                <input type="hidden" name="id" value="<%=sel_student["id"]%>">
                                <input type="hidden" name="batch_number" value="<%=sel_student["batch_number"]%>">
                                <button class="cards-button">Graduation time!</button>
                            </form>
                        </p>
                    <% end %>

                </div>
            <% end %>
        </div>
    </div>

</main>